.login, .register {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fafb;
}

.login-content {
    border: 1px solid #f9f8f8;
    border-radius: 20px;
    /* max-height: 400px; */
    overflow: hidden;
    box-shadow: 3px 8px 26px -24px black;
    padding: 50px 0;
}

.inputgroup {
    position: relative;
}

.inputgroup .emailicon, .inputgroup .passwordicon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    left: 15px;
    color: #44566c;
}

.login-inputs form input {
    padding: 0 0 0 50px;
    border-radius: 10px;
}