textarea {
    resize: none;
    border-radius: 15px;
}

.home {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #f8fafb;
}

.sec {
    transition: all 0.2s linear;
}

.sec.open {
    margin-left: 300px;
}

.addnote {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e9ebee93;
    z-index: 35;
}

.addcontent {
    background-color: #ffffff;
    /* width: 40%; */
    padding: 20px 40px;
    border-radius: 20px;
    position: relative;
    box-shadow: 1px 0px 8px -4px black;
}

.closebtn {
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 35px;
}

.listnote {
    background-color: #f8fafb;
}

/* .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 1px 0px 8px -4px black;
    border-radius: 25px;
} */

/* .list-info {
    width: 40%;
    display: flex;
    align-items: center;
} */

.listbtn {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags {
    display: flex;
    align-items: center;
}

.tags>span {
    width: 100px;
    height: 30px;
    background-color: #f8fafb;
    border-radius: 15px;
    padding: 2px;
}

.tags>span>span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background-color: red; */
    display: inline-block;
    margin: 0 6px;
}

.star {
    font-size: 25px;
    color: gray;
    cursor: pointer;
    transition: all 0.2s liner;
}

/* .star.fav {
    color: #fdbf5e;
}

.delete {
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
} */

/* ====================================================== */

.nav-content {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: auto;
    position: fixed;
    transform: translateX(-300px);
    top: 0;
    transition: all 0.2s linear;
    z-index: 25;
    height: 100vh;
    padding: 4% 1%;
}

.nav-content.open {
    transform: translateX(0);
}

.navitem {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transition: all 0.2s linear;
}

.navitem.active {
    background-color: #8697a827;
}

.navitem svg {
    margin: 5px 10px 5px 10px;
    width: 25px;
    height: 57px;
    color: #8697a8;
}

.navitem h2 {
    font-size: 17px;
    width: 100;
    font-weight: bold;
    color: #44566c;
    cursor: pointer;
    margin: 0 20px;
    width: 100%;
    padding: 14px 0;
}

.navitem:hover {
    background-color: #8697a827;
}

.list {
    transition: all 0.2s linear;
    margin: 0 auto;
    margin-top: 150px;
}

.list.open {
    transform: translateX(300px);
}

.list-item {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 22px;
    box-shadow: rgba(169, 194, 209, 0.05) 0px 2px 4px 0px, rgba(169, 194, 209, 0.1) 0px 12px 16px 0px;
    position: relative;
}

.addnotbtn {
    position: relative;
    top: 100px;
    left: 86%;
    cursor: pointer;
    z-index: 20;
    border: 1px solid rgba(255, 255, 255, 0.76);
    color: black;
    transition: all 0.2s linear;
    box-shadow: rgba(169, 194, 209, 0.05) 0px 2px 4px 0px, rgba(169, 194, 209, 0.1) 0px 12px 16px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.addnotbtn:hover {
    background-color: white;
    color: #44566c;
    border: 1px solid rgba(107, 105, 105, 0.562);
}

.list-info svg {
    color: white;
    font-size: 18px;
}

.list-left {
    display: flex;
    align-items: center;
    min-width: 55%;
}

.list-left>input {
    margin: 0 14px;
}

.list-info {}

.list-info h4 {
    color: #44566c;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.list-info h4.done, .list-info p.done {
    text-decoration: line-through;
}

.list-info p {
    color: #b5b7bd;
}

.listbtns {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.listbtns .fav {
    color: gray;
    font-size: 30px;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.2s linear;
}

.listbtns .fav.favourite {
    color: #fdbf5e;
}

.listbtns .del {
    color: #b3c0ce;
    font-size: 25px;
    /* margin: 0 16px; */
    cursor: pointer;
    transition: color 0.2s linear;
}

.listbtns .del:hover {
    color: #76787a;
}

.listtags {
    display: flex;
    flex-wrap: wrap;
}

.listtags .tagitem {
    margin: 0 5px 5px 5px;
}

.listtags .tagitem>span.tag {
    display: inline-block;
    padding: 4px 19px;
    border-radius: 15px;
    background-color: #eaedf0;
}

.listtags .tagitem>span.tag>span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.topnav {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    height: 70px;
    transition: all 0.2s linear;
    box-shadow: rgba(169, 194, 209, 0.05) 0px 2px 4px 0px, rgba(169, 194, 209, 0.1) 0px 12px 16px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    z-index: 24;
}

.topnav.open {
    transform: translateX(300px);
}

.topnavlog .menu {
    font-size: 25px;
    cursor: pointer;
    color: #8697a8;
}

.userinfo {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.userinfo .img svg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #76787a;
}

.userinfo h6 {
    font-size: 15px;
    margin: 0 10px;
}

.userinfo .logout {
    font-size: 20px;
    cursor: pointer;
    color: #8697a8;
}

.tagitem .tag.Desgin span {
    background-color: yellow;
}

.tagitem .tag.ForntEnd span {
    background-color: red;
}

.tagitem .tag.backEnd span {
    background-color: blue;
}

.tagitem .tag.issue span {
    background-color: greenyellow;
}

.listtitle {
    color: #656464;
    margin: 0px 28px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 29px;
}